@use '../../../scss/settings';
@use '../../../scss/mixins';

.shadowBg {
  position: absolute;
  width: calc(100vw * 2);
  height: 100%;
  top: 0;
  left: -50%;
  right: 0;
  margin: 0 auto;
  background-color: #1E1E20;
  opacity: 0.5;
  z-index: -1;
}

.contactUs {
  margin-top: 168px;
  position: relative;
  z-index: 2;
  padding: 187px 0;

  @include mixins.media-max(settings.$xs-break) {
    padding: 80px 0;
  }
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;

  @include mixins.media-max(settings.$md-break) {
    font-size: 50px;
    line-height: 54px;
  }

  @include mixins.media-max(settings.$sm-break) {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }

  @include mixins.media-max(settings.$xs-break) {
    font-size: 36px;
    line-height: 54px;
  }
}

.cross {
  position: absolute;
  right: 30px;
  top: 80px;
  @include mixins.media-max(settings.$xs-break) {
    width: 26px;
    height: 26px;
    top: 20px;
  }
}

.circles {
  position: absolute;
  left: 5%;
  bottom: 50px;
  @include mixins.media-max(settings.$xs-break) {
    width: 35px;
    height: 42px;
    bottom: 10px;
    left: -15px;
  }
}

.content {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: space-between;

  @include mixins.media-max(settings.$sm-break) {
    gap: 50px;
    flex-direction: column;
    align-items: start;
  }

  .title {
    max-width: 825px;
  }

  button {
    height: fit-content;
  }
}