// break points (px)
$lg-break: 1199;
$md-break: 991;
$sm-break: 767;
$xs-break: 575;
$l-break: xd;
$xxs-break: 359;

// colors
$bg-color: #19191B;
$bg-dark: #1E1E20;
$white: #FFFFFF;
$activeLink: #5454D4;